services:
  ros-desktop:
    image: osrf/ros:kilted-desktop-full
    command: [gz, sim]
    environment:
      DISPLAY: ${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    deploy:
      resources:
        reservations:
          devices:
            - driver: cdi
              capabilities: []
              device_ids:
                - nvidia.com/gpu=all
