services:
  sim:
    build: .
    command: [gz, sim]
    environment:
      DISPLAY: ${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - .:/src
    deploy:
      resources:
        reservations:
          devices:
            - driver: cdi
              capabilities: []
              device_ids:
                - nvidia.com/gpu=all
